:root {
    --header-bg-color: #EAC926;
    --article-bg-color: white;
    --section-bg-color:  #ebebeb;
    --links-color: #03264C;
    --icono-pie-pagina-color: #1259c3;
    --titulo-seccion-color: #666;
    --oferta-color: #39b54a;

}

figure {
    margin: 0;
}
header{
    background-color: var(--header-bg-color);
}

.section{
    background-color: var(--section-bg-color);
}

.article{
    background-color: var(--article-bg-color);
}

h3{
    font-size: 24px;
    color: var(--titulo-seccion-color);
}

h4{
    font-size: 16px;
    color: var(--titulo-seccion-color);
    margin: 5px 0 5px 0;
}

h5{
    font-size: 16px;
    color: var(--titulo-seccion-color);
}

.oferta{
    font-size: 16px;
    color: var(--oferta-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

p{
    font-size: 12px;
}

.precios{
    font-size: 18px;
}

.icono{
    color: var(--icono-pie-pagina-color);
}

a{
    font-size: 16px;
    text-decoration: none;
    color: black
}

ul {
    list-style-type: none;
}

div {
    margin: 20px 0 20px 0;
    font-size: 16px;
    
}

.campos{
    margin: 2px 0 2px 0;
    color: black;
}

#subir-imagen{
    width: 350px;
}

.lable-register{
    font-weight: bold;
}
