:root {
    --header-bg-color: #EAC926;
    --article-bg-color: white;
    --section-bg-color:  #ebebeb;
    --links-color: #03264C;
    --icono-pie-pagina-color: #1259c3;
    --icono-menu: #0044AA;
    --icono-menu-hover: #0022AA;
    --titulo-seccion-color: #666;
    --oferta-color: #39b54a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.d-flex{display: flex;}
.f-col{ flex-direction: column;}
.w-1{ flex-grow: 1;}

.border{
    border-top: 1px solid var(--section-bg-color);
}
.a-i-end{align-items: end;}
.w-30{flex-basis: 30%;}
.w-70{flex-basis: 70%;}


.pos-rel{position: relative;}
.pos-abs{position: absolute;}

.pos-icon{
    top: -15px;
    right: 15px;
}
.b-icon{
    background-color: white;
    border: 1px solid var(--oferta-color);
    border-radius: 50%;
    padding: 5px;
}

.j-text{
    justify-content: space-between;
}

.search-bar{
    border: none;
    height: 30px;
    border-radius: 8px;
    background-color: white;
    padding-left: 5px;
}

.search-button{
    border: none;
    height: 30px;
    border-radius: 8px;
    background-color: white;
    width: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}



.mt-5{margin-top: 5px;}
.mb-5{margin-bottom: 5px;}

.mt-10{margin-top: 10px;}
.mb-10{margin-bottom: 10px;}
.p-15-lat
{
    padding-left: 15px;
    padding-right: 15px;
}
.t-aling{text-align: left;}
.f-wrap{flex-wrap: wrap;}

.p-15{
    padding: 15px;
    padding-bottom: 5px;
}
.centered{
    justify-content: center;
}

.t-center{
    text-align: center;
}



header{
    background-color: var(--header-bg-color);
    
}

footer{
    background-color: var(--article-bg-color);
    padding: 2% 5%;
}

footer article{
    margin: 20px 0px 20px 0px;
}

.section{
    background-color: var(--section-bg-color);
}

.article{
    background-color: var(--article-bg-color);
    margin: 10px;
    height: fit-content;
}

.texto{
    height: 40px;
    transition: height 1s;
    padding: 0px 5px;
}
.texto h5{
    transition: opacity 1s;
}
h5{
    opacity: 0;   
}

/*<i class="fas fa-truck oferta pos-abs pos-icon b-icon"></i>*/
img{
    width: 100%;
}

h3{
    font-size: 24px;
    color: var(--titulo-seccion-color);
    margin: 10px 0px 10px 0;
    text-align: left;
    padding-left: 15px;
}

h4{
    font-size: 16px;
    color: var(--titulo-seccion-color);

}

h5{
    font-size: 16px;
    color: var(--titulo-seccion-color);
}

.oferta{
    font-size: 16px;
    color: var(--oferta-color);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--section-bg-color);
}

p{
    font-size: 12px;
}

.precios{
    font-size: 18px;

}

.icono{
    color: var(--icono-pie-pagina-color);
    margin: 10px;
    font-size: 2em;
}

ul a{
    font-size: 20px;
    text-decoration: none;
    color: white;

}

ul {
    list-style-type: none;
    display:none;
}

.div {
    margin: 20px 0 20px 0;
    font-size: 16px;
}

.campos{
    margin: 2px 0 2px 0;
    color: black;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.form-login label{
    align-self: flex-start;
}

.form-checkbox{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0px 20px;
}

.campos-login{
    flex-grow: 1;
    width: 100%;
    padding: 8px;
    margin: 20px 0 20px 0;
    color: black;
    border: none;
    border-radius: 5px;
}

.campos-radio{
    flex-grow: 1;
    padding: 8px;
    color: black;
    align-self: flex-start;
}

.boton-login{
    background-color: var(--icono-pie-pagina-color);
    color: white;
}

#subir-imagen{
    width: 350px;
    display: none;
}
.custom-upload{
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: var(--titulo-seccion-color);
    width: fit-content;
}
.custom-upload:hover{
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.boton-enviar{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: var(--icono-pie-pagina-color);
    color: white;
    font-weight: bold;
}
.boton-borrar{
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(153, 51, 85);
    color: white;
    font-weight: bold;
}

.boton-login:hover,
.boton-enviar:hover{
    background-color: #3771c7;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}
.boton-borrar:hover{
    background-color: rgb(153, 68, 96);
    font-size: 1em;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
}


.lable-register{
    width: 100%;
    flex-grow: 1;
    font-weight: bold;
    align-self: flex-start;
    padding: 10px 0;
}

#navegacion{
    text-align: center;
}

.menu-links{
    padding: 10px;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: var(--icono-menu);
    color: white;
}

.menu-links:hover{
    width: auto;
    height: auto;
    background-color: var(--icono-menu-hover);
}

.menu-links:hover ul{
    display: block;
    cursor: hand;
}

.section .art1{
    flex-direction: column;
}

.section .art1 .art2{
    flex-direction: column;
}

.section h3{
    display: block;
}

.article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.article:hover .fa-truck{
    transform: rotateZ(-90deg);
}


.article:hover .texto{
    height: 70px;
}
.article:hover h5{
    opacity: 1;
}

.footer-flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.footer-flex-art{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

@media (min-width: 768px){

   .section .art1 .art2{
        flex-direction: row;
   }
}

@media (min-width: 1024px){

    .section .art1{
        flex-direction: row;
   }
   .footer-flex-art{
       flex-direction: row;
   }
}